<a href="https://colab.research.google.com/github/maicaarocena/Linear-Algebra_2nd-Sem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types
Variables and data types are the values that change in Python Fundamentals, as the name implies. A variable is a memory location where you store a value in a programming language, and it is created as soon as you assigned a value to it. Meanwhile, the classification or categorizing of data elements is known as data types. It denotes the kind of value that specifies which operations can be performed on a given set of data. Data types are technically classes, and variables are the objects of these classes.

In [ ]:
x = 1
a, b = 0, -1
b

-1

In [ ]:
type(x)
int

int

In [ ]:
y = 1.0
type (y)

float

In [ ]:
x = float(x)
type (x)

float

In [ ]:
s, t, u = "0", '1', 'one'
type (u)

str

In [ ]:
s_int = int(s)
s_int

0

## Operations

### Arithmetic
Mathematical operations such as addition, subtraction, multiplication, division, floor division, exponentiation and modulo are performed using arithmetic operators.

In [ ]:
a, b, c, d = 2.0, -0.5, 0, -32

####Addition
This operation denotes (+) which adds values on either side of the operator.

In [ ]:
### Addition
S = a+b
S

1.5

####Subtraction
Represented by (-), this operation subtracts right hand operand from left hand operand.

In [ ]:
### Subtraction
D = b-d
D

31.5

####Multiplication
Using the symbol (*), this operation multiplies values on both sides of the operator.

In [ ]:
### Multiplication
P = a*d
P

-64.0

####Division
The division operator in Python is (/). When the first operand is divided by the second, it is utilized to find the quotient.

In [ ]:
### Division
Q = c/a
Q

0.0

####Floor Division
When the first operand is divided by the second, floor division is applied to calculate the floor quotient. This is denoted by the operator (//).

In [ ]:
### Floor Division
E = a//b
E

-4.0

####Exponentiation
To raise the first operand to the second power, exponentiation is performed through the symbol (**).

In [ ]:
### Exponentiation
E = a**b
E

0.7071067811865476

####Modulo
Modulo or Modulus uses the operator (%) that is responsible for dividing left hand operand by right hand operand and returns the remainder.

In [ ]:
### Modulo
mod = d%a
mod

0.0

### Assignment Operations
Assignment operators are used in Python programming to assign values to variables.

####= 
The equal operation's role is to "Assign" the value of the right side of the expression to the operand on the left side.

In [ ]:
G, H, J, K = 0, 100, 2, 2

+=

"Add and Assign" is designed to add both sides of the operand and the sum will be placed on the left operand.

In [ ]:
G += a
G

2.0

####-=
"Subtract And" conducts subtraction to right operand from left operand. The difference would then be assigned to the left operand.

In [ ]:
H -= d
H

132

####*=
"Multiply And" operates multiplication to both operands and then the product would be assigned to the left operand.

In [ ]:
J *= 2
J

4

####**=
"Exponent And" calculates the exponent value of the operands which would then be assigned also to the left operand.

In [ ]:
K **= 2
K

4

###Comparators
Values are compared using comparison operators. Depending on the condition, it results to either True or False.

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_2 == true_val

False

In [ ]:
## Non-Equality
res_2 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t4

True

### Logical
Logical operators are comprised of:

"AND" - True if both operands are true

"OR"  - True if either of the operands is true

"NOT" - True if the operand is false

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
p, q = True, False
conj = p and q
conj

False

In [ ]:
p, q = True, False
disj = p or q
disj

True

In [ ]:
p, q = False, False
disj = p or q
disj

False

In [ ]:
p, q = True, False
e = not(q)
e

True

In [ ]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

###I/O
Input and Output operators allow you to insert a value into your program that can be printed.

In [ ]:
print("Hello Mars")

Hello Mars

In [ ]:
cnt = 1

In [ ]:
string = "Hello Mars"
print(string, "Current run count is:", cnt)
cnt += 1

Hello Mars Current run count is: 1

In [ ]:
print(f"{string} Current count is: {cnt}")

Hello Mars Current count is: 2

In [ ]:
sem_grade = 82
name = "uge"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello uge, your semestral grade is: 82

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grade are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Misterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grade are:
	30.00% for Prelims
	30.00% for Misterms, and
	40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: 35

'35'

In [ ]:
name = input ("Kimi mo nawa: ")
pg = input ("Enter prelim grade: ")
mg = input ("Enter midterm grade: ")
fg = input ("Enter final grade: ")
sem_grade = None
print ("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Kimi mo nawa: 80
Enter prelim grade: 85
Enter midterm grade: 90
Enter final grade: 75
Hello 80, your semestral grade is: None

## Looping Statements

## While
The while loop is used to repeatedly execute a set of statements until a condition is met.

In [ ]:
## while loops
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

##For
For Loop is used to perform sequential traversal. It can be used to iterate throughout a set of iterators and a range of values.

In [ ]:
#for(int i=0; i<10; i++){
#print(i)
#}

i = 0
for i in range (10):
      print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
playlist = ["Crazier","Happier","Bahay-Kubo"]
print('Now PLaying:\n')
for song in playlist:
      print(song)

Now PLaying:

Crazier
Happier
Bahay-Kubo

#Flow Control
Flow Control is a conditional statement that handles the presentation andÂ execution of codes in a givenÂ program. This allows the software to continue running until specific conditions are met.

##Condition Statements
If and Else If statements are used in flow control to perform conditional operation.

In [ ]:
numeral1, numeral2 = 13, 14
if(numeral1 == numeral2):
      print("Yey")
elif(numeral1>numeral2):
      print("Hoho")
else:
      print("Aww")

Aww

## Functions
Fuctions are blocks of code which only runs when it is called. In python, "def" is used to designate a function.

In [ ]:
# void DeleteUser(int userid){
#     delete(userid);
# }

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))

def delete_all_users ():
    print("Successfully deleted all users")

In [ ]:
userid = "Maica"
delete_user("Maica")
delete_all_users()

Successfully deleted user: Maica
Successfully deleted all users

In [ ]:
def add(addend1, addend2):
    return addend1 + addend2

def power_of_base2(exponent):
    return 5**exponent

In [ ]:
#addend1, adddend2 = 14, 18
#add(addend1, addend2)

exponent = 4
power_of_base2(exponent)

625

#Grade Calculator

In [1]:
print()
name = input('\tOla! What is your name? ');
course = input('\tWhat is your course? ');
prelim = float(input('\tGive Prelim Grade : '));
midterm = float(input('\tGive Midterm Grade : '));
final = float(input('\tGive Final Grade : '));
grade= (prelim) + (midterm) + (final);
avg= grade/3;

print();
print("\t===== DISPLAYING RESULTS =====");
print();
print("\tHi,", name, "from the course", course, "!");
print();
if avg > 70:
    print("\tYour grade is \U0001F600");
elif avg == 70:
    print("\tYour grade is \U0001F606");
elif avg < 70:
      print("\tYour grade is \U0001F62D");
print();

	Ola! What is your name? Ikay
	What is your course? BS in Chemical Engineering
	Give Prelim Grade : 70
	Give Midterm Grade : 75
	Give Final Grade : 65

	===== DISPLAYING RESULTS =====

	Hi, Ikay from the course BS in Chemical Engineering !

	Your grade is ðŸ˜†