<a href="https://colab.research.google.com/github/maicaarocena/Linear-Algebra_2nd-Sem/blob/main/Activity_1_Python_Fundamentals_Bernardo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types
Variables and data types are the values that change in Python Fundamentals, as the name implies. A variable is a memory location where you store a value in a programming language, and it is created as soon as you assigned a value to it. Meanwhile, the classification or categorizing of data elements is known as data types. It denotes the kind of value that specifies which operations can be performed on a given set of data. Data types are technically classes, and variables are the objects of these classes.

In [ ]:
x = 0
e,l,a = 2,1,4
a

4

In [ ]:
type(x)

int

In [ ]:
h = 1.0
type(h)

float

In [ ]:
x = float(x)
type (x)

float

In [ ]:
a,d,u = "0",'1','valorant'
type(a)

str

In [ ]:
a_int = int(a)
a_int

0

##Operations

###Arithmetic
Mathematical operations such as addition, subtraction, multiplication, division, floor division, exponentiation and modulo are performed using arithmetic operators.

In [ ]:
s,k,y,e = 2.0,-0.5,0,-32

####Addition
This operation denotes (+) which adds values on either side of the operator.

In [ ]:
### Addition
a = s+k
a

1.5

####Subtraction
Represented by (-), this operation subtracts right hand operand from left hand operand.

In [ ]:
### Subtraction
u = k-e
u

31.5

####Multiplication
Using the symbol (*), this operation multiplies values on both sides of the operator.

In [ ]:
### Multiplication
m = s*e
m

-64.0

####Division
The division operator in Python is (/). When the first operand is divided by the second, it is utilized to find the quotient.

In [ ]:
### Divison
d = y/s 
d

0.0

####Floor Division
When the first operand is divided by the second, floor division is applied to calculate the floor quotient. This is denoted by the operator (//).

In [ ]:
### Floor Division
fd = s//k
fd

-4.0

####Exponentiation
To raise the first operand to the second power, exponentiation is performed through the symbol (**).

In [ ]:
### Exponentiation
ex = s**k
ex

0.7071067811865476

####Modulo
Modulo or Modulus uses the operator (%) that is responsible for dividing left hand operand by right hand operand and returns the remainder.

In [ ]:
### Modulo
mod = e%s 
mod

0.0

### Assignment Operations
Assignment operators are used in Python programming to assign values to variables.

####= 
The equal operation's role is to "Assign" the value of the right side of the expression to the operand on the left side.

In [ ]:
w,x,y,z = 0,100,2,2

####+= 
"Add and Assign" is designed to add both sides of the operand and the sum will be placed on the left operand.

In [ ]:
w += s 
w

2.0

####-=
"Subtract And" conducts subtraction to right operand from left operand. The difference would then be assigned to the left operand.

In [ ]:
x -= e
x

164

####*=
"Multiply And" operates multiplication to both operands and then the product would be assigned to the left operand.

In [ ]:
y *= 2
y

4

####**=
"Exponent And" calculates the exponent value of the operands which would then be assigned also to the left operand.

In [ ]:
z **= 2
z

4

###Comparators
Values are compared using comparison operators. Depending on the condition, it results to either True or False.

In [ ]:
trial_1, trial_2, trial_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
trial_1 == true_val

True

In [ ]:
## Non-equality
trial_2 != true_val

True

In [ ]:
## Inequality
t1 = trial_1 > trial_2
t2 = trial_1 < trial_2/2
t3 = trial_1 >= trial_1/2
t4 = trial_1 <= trial_2
t4

True

### Logical
Logical operators are comprised of:

"AND" - True if both operands are true

"OR"  - True if either of the operands is true

"NOT" - True if the operand is false

In [ ]:
trial_1 == true_val

True

In [ ]:
trial_1 is true_val

False

In [ ]:
trial_1 is not true_val

True

In [ ]:
p,q = True, True
conj = p and q
conj

True

In [ ]:
p,q = False, False
disj = p or q
disj

False

In [ ]:
p,q = True, False
e = not (p and q)
e

True

In [ ]:
p,q = True, False
xor = (not p and q) or (p and not q)
xor

True

###I/O
Input and Output operators allow you to insert a value into your program that can be printed.

In [ ]:
print("Welcome to my world")

Welcome to my world

In [ ]:
cnt = 1

In [ ]:
string = "Welcome to my world"
print(string,", your current run count is:", cnt)
cnt += 1

Welcome to my world , your current run count is: 1

In [ ]:
print(f"{string}, your current count is: {cnt}")

Welcome to my world, your current count is: 2

In [ ]:
sem_grade = 93.0124
name = "Viper"
print("Wazzup, {}!, your semestral grade is: {}".format(name, sem_grade))

Wazzup, Viper!, your semestral grade is: 93.0124

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("Ang weight ng iyong semestral grades are: \
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

Ang weight ng iyong semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [ ]:
x = input("enter a number, bhie: ")
x

enter a number, bhie: 14

'14'

In [ ]:
name = input("Hoy! Ano pangalan mo boi?: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None
print("Hello {}, ang iyong semestral grade ay: {}".format(name, sem_grade))

Hoy! Ano pangalan mo boi?: Rue
Enter prelim grade: 90
Enter midterm grade: 98
Enter finals grade: 96
Hello Rue, ang iyong semestral grade ay: None

# Looping Statements

## While
The while loop is used to repeatedly execute a set of statements until a condition is met.

In [ ]:
## while loops
i, j = 0, 14
while(i<=j):
  print(f"{i}\t|\t{j}")
  i+=1

0	|	14
1	|	14
2	|	14
3	|	14
4	|	14
5	|	14
6	|	14
7	|	14
8	|	14
9	|	14
10	|	14
11	|	14
12	|	14
13	|	14
14	|	14

##For
For Loop is used to perform sequential traversal. It can be used to iterate throughout a set of iterators and a range of values.

In [ ]:
# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
playlist = ["Lagi", "Tenerife Sea", "Is There Someone Else"]
print("Favorite Songs:\n")
for song in playlist:
  print(song)

Favorite Songs:

Lagi
Tenerife Sea
Is There Someone Else

#Flow Control
Flow Control is a conditional statement that handles the presentation and execution of codes in a given program. This allows the software to continue running until specific conditions are met.

##Condition Statements
If and Else If statements are used in flow control to perform conditional operation.

In [ ]:
numeral1, numeral2 = 14, 12
if(numeral1 == numeral2):
  print("Yie")
elif(numeral1>numeral2):
  print("Uwu")
else:
  print("Whoa")
# print("Hep hep")

Uwu

#Functions
Fuctions are blocks of code which only runs when it is called. In python, "def" is used to designate a function.

In [ ]:
# void DeleteUser(int userid){
# delete(userid);
# }
def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))

def delete_all_users ():
    print("Valorant Pro-Player")

In [ ]:
userid = "Xeyah"
delete_user("Xeyah")
delete_all_users()

Successfully deleted user: Xeyah
Valorant Pro-Player

In [ ]:
def add(addend1, addend2):
  return addend1 + addend2

def power_of_base2(exponent):
  return 2**exponent

In [ ]:
addend1, addend2 = 36, 22
add(addend1, addend2)

exponent = 4
power_of_base2(exponent)

16

#Grade Calculator

In [ ]:
print()
name = input('\tOla! What is your name? ');
course = input('\tWhat is your course? ');
prelim = float(input('\tGive Prelim Grade : '));
midterm = float(input('\tGive Midterm Grade : '));
final = float(input('\tGive Final Grade : '));
grade= (prelim) + (midterm) + (final);
avg= grade/3;

print();
print("\t===== DISPLAYING RESULTS =====");
print();
print("\tHi,", name, "from the course", course, "!");
print();
if avg > 70:
    print("\tYour grade is \U0001F600");
elif avg == 70:
    print("\tYour grade is \U0001F606");
elif avg < 70:
      print("\tYour grade is \U0001F62D");
print();

	Ola! What is your name? Astra
	What is your course? Bachelor of Science in Chemical Engineering
	Give Prelim Grade : 96
	Give Midterm Grade : 90
	Give Final Grade : 94

	===== DISPLAYING RESULTS =====

	Hi, Astra from the course Bachelor of Science in Chemical Engineering !

	Your grade is 😀